@use 'sass:map';
@use '../../styles/base/_global.scss' as global;
@use '../../styles/base/_fonts.scss' as fonts;

.form-elements { // УДАЛИТЬ!!!
  margin-left: 30px;
}

.dropdown[data-dropdown-type="guests"] {
  width: global.getFieldProp("width-lg");
}
.dropdown[data-dropdown-type="rooms"] {
  width: global.getFieldProp("width-md");
}

.dropdown {
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    cursor: pointer;
    padding-left: global.getFieldProp("padding");
    padding-right: global.getFieldProp("padding");
  }

  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    background-color: #FFFFFF;
    border: 1px solid global.getColor("dark-shade-50");
    border-bottom-left-radius: global.getFieldProp("border-radius");
    border-bottom-right-radius: global.getFieldProp("border-radius");
    left: -1px;
    width: calc(100% + 2px);
    padding: 5px 6px 0 global.getFieldProp("padding");
    text-transform: uppercase;
    font-weight: fonts.$font-weight-bold;
    color: global.getColor("dark-shade-100");
    font-size: fonts.$font-size-sm;
    flex-direction: column;
    gap: 12px;

    .dropdown__menu-description {
      display: flex;
      flex-direction: column;
      gap: 7px;
      padding-bottom: 8px;

      .dropdown__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;

        .dropdown__item-control {
          width: 92px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .dropdown__button {
            border-radius: 50%;
            border: 1px solid global.getColor("dark-shade-50");
            height: 30px;
            width: 30px;
            color: global.getColor("dark-shade-50");
            background-color: #FFFFFF;

            &--minus:disabled {
              border: 1px solid global.getColor("dark-shade-25");
              color: global.getColor("dark-shade-25");
            }
          }
        }
      }
    }
  }
}

.dropdown__footer {
  display: none;
  padding-bottom: 13px;

  .dropdown__footer--placeholder {
    flex: 1;
  }

    &--clear, &--apply {
      cursor: pointer;
      background: none;
      border: none;
      font: inherit;
      text-transform: uppercase;
      color: global.getColor("purple");
      padding: 0;
    }

    &--clear {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.18s ease;
    }
}

.dropdown__footer--open {
  display: flex;
  justify-content: space-between;
}

.dropdown__footer--clear.visible {
  opacity: 1;
  pointer-events: auto;
}

.dropdown--expanded {
  position: relative;
  z-index: 200;
  border-color: global.getColor("dark-shade-50");

  .dropdown__menu {
    display: flex;

    
  }
}