@use 'sass:map';
@use '../../styles/base/_global.scss' as global;
@use '../../styles/base/_fonts.scss' as fonts;

$dark-shade-50: global.color("dark-shade-50");

.dropdown {
  position: relative;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
  padding-left: global.$form-control-padding-left;
  text-transform: uppercase;
  font-weight: fonts.$font-weight-bold;
  color: global.color("dark-shade-100");
  
}

.dropdown--expanded {
  border: 1px $dark-shade-50 solid;
}

.dropdown--expanded .dropdown__menu {
  display: block;
  border: 1px $dark-shade-50 solid;
}


