mixin rateButton(grade, title)
  .rate-button
    if (title)
      .title-component= title
    .rate-button__grade
      - let count
      - for (let i = 0; i < grade; i++)
        img.rate-button__star(src=require('@/components/rate-button/star_painted.svg') alt="Оценка номера")
        - count = i
      - for (let j = count; j < 4; j++)
        img.rate-button__star(src=require('@/components/rate-button/star_unpainted.svg') alt="Оценка номера")
