@use 'sass:map';
@use '../../../styles/base/_global.scss' as global;
@use '../../../styles/base/typography.scss' as type;

.bullet-list {
  width: 292px;
}

.bullet-list__title {
  @extend .title-component;
}

.bullet-list__menu {
  list-style-position: inside;
  padding: 0;
  @extend .body-component;
  flex-direction: column;
}

.bullet-list__menu-item {

  // display: flex;
  // flex-direction: row;
}

.bullet-list__menu .bullet-list__menu-item::marker {
  font-size: 32px;
  color: global.getColor("dark-shade-25");
}
