@use 'sass:map';
@use '../../../styles/base/_global.scss' as global;

.bullet-list {
  width: 292px;
}

.bullet-list > .title-component {
  padding-bottom: 3px;
}

.bullet-list > .body-component {
  flex-direction: column;
  list-style-position: outside;
  padding-left: 21px;
  padding-right: 30px;
  gap: 16px;
  list-style: none;

}

.bullet-list__menu-item {
  // list-style: none;
  position: relative;
  // line-height: 0.3;

  &::before {
    content: '•'; // или '\2022' в Юникоде
    position: absolute;
    left: -26px;
    top: -40px;
    font-size: 70px;
    color: global.getColor("dark-shade-25");
  }
}
