include ../../components/index-components.pug

- const variables = require('../scripts/variables.js'); //- ! путь рассчитывается относительно файла, в котором require выполняется, а не относительно файла, где require прописан
- let colorPalette = variables.colorPalette;
- let typographyStyles = variables.typographyStyles;

doctype html
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    //- meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="apple-mobile-web-app-title" content="TOXIN" />
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
    link(rel="manifest" href="/assets/favicons/site.webmanifest")
  body
    block content