@use 'sass:map';
@use '../base/_global.scss' as global;
@use '../base/_fonts.scss' as fonts;
@use '../base/typography.scss' as type;


.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__label {
    @extend .title-component;
    padding-bottom: 0;
  }

  &__control {
    border: 1px solid global.getColor("dark-shade-25");
    border-radius: global.getFieldProp("border-radius");
    width: global.getFieldProp("width-lg");
    height: global.getFieldProp("height");
    font-family: Montserrat, Arial, sans-serif;
    font-weight: fonts.$font-weight-regular;
    font-size: fonts.$font-size-base;
    color: global.getColor("dark-shade-75");

    &::placeholder {
      color: global.getColor("dark-shade-25");
    }

    &:hover, &:focus {
      outline: none;  // иначе у :focus устанавливается граница браузера
      border-color: global.getColor("dark-shade-50");
    }
  }

  &__control--input {
    padding-left: global.getFieldProp("padding");
    padding-right: global.getFieldProp("padding");
  }
}
