@use '../../../../styles/base/_fonts.scss' as fonts;
@use '../../../../styles/base/typography.scss' as type;

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10.56px;
  width: 222px;
  padding: 0;
}

.checkbox__title {
  @extend .title-component;
}
