@use 'sass:map';
@use '../../styles/base/_global.scss' as global;
@use '../../styles/base/_fonts.scss' as fonts;

.checkbox-rich {
  width:  266px;
}

.checkbox-rich .checkbox__title {
  padding-bottom: 17px;
}

.checkbox-rich__menu {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.checkbox-rich__item0, .checkbox-rich__item1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.checkbox-rich__item0 {
  width: 233px;
}

.checkbox-rich__item1 {
  width: 260px;
}


.checkbox-rich__item0 .checkbox__text,
.checkbox-rich__item1 .checkbox__text {
  color: global.getColor("dark-shade-75");
  font-weight: fonts.$font-weight-bold;
}

.checkbox-rich__item-description {
  font-size: fonts.$font-size-sm;
  color: global.getColor("dark-shade-50");
  padding-left: 30px;
}