mixin checkboxRich(title, name, items)
  .checkbox-rich
    .checkbox__title= title
    .checkbox-rich__menu
      each item in items
        .checkbox-rich__item(style=`width: ${item.width}`)
          +checkbox(name, item.name)
          .checkbox-rich__item-description= item.desc