mixin rangeSlider(title)
  .range-slider
    if title
      .title-component= title
    //- .range-controls
    .range-scale
      .range-toggle.minPrice
      .range-toggle.maxPrice
      .filled-part
