@use 'sass:map';
@use '../../../styles/base/_global.scss' as global;

.radio {
  width: 220px;

  .title-component {
    padding-bottom: 16px;
  }
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 30px;
}

.radio-item {
  cursor: pointer;
  position: relative;
}

.radio__input {
  appearance: none;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__text::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid global.getColor("dark-shade-25");
  position: absolute;
  left: -30px;
  top: 0;
}

.radio__input:checked + .radio__text::before {
  background: linear-gradient(global.getColor("purple"), rgba(139, 164, 249, 1));
  box-shadow: inset 0 0 0 3px white;
  border: 1px solid global.getColor("purple");
}

.radio__text {
  color: global.getColor("dark-shade-50");
}

.radio__input:checked + .radio__text {
  color: global.getColor("dark-shade-75");
}
