mixin radio(groupName, title, options)
  .radio
    if title
      .title-component= title
    .radio-group
      each option in options
        label.radio-item
          input.radio__input(type="radio" name=groupName value=option.value)
          span.radio__text= option.text
