@use 'sass:map';
@use '../../../styles/base/_global.scss' as global;

.radio {
  width: 220px;

  .title-component {
    padding: 0;
  }
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 49px;
  padding-left: 30px;
}

.radio-item {
  cursor: pointer;
  position: relative;
}

.radio-item input[type="radio"] {
  appearance: none;
}

.radio-item__label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid global.getColor("dark-shade-25");
  position: absolute;
  left: -30px;
  top: 17px;
}

.radio-item  input[type="radio"]:checked + .radio-item__label::before {
  background: linear-gradient(global.getColor("purple"), rgba(139, 164, 249, 1));
  box-shadow: inset 0 0 0 3px white;
  border: 1px solid global.getColor("purple");
}

option.label::after {
  color: global.getColor("dark-shade-50");
}