doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../src/styles/style.css")
    title Colors and Type
  body
    h1 HELLO
    include colors