@use 'sass:map';
@use '../../../../styles/base/_global.scss' as global;

.checkbox__input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid global.getColor("dark-shade-25");
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  flex-shrink: 0;
}

.checkbox__input:checked {
  border-color: global.getColor("purple");
  background-image: url('../components/form/checkbox/base/checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
}