$font-weight-bold: 700;
$font-weight-regular: 400;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
// $font-size-md: 16px;
// $font-size-lg: 20px;
$font-size-xl: 24px;
// $font-size-xxl: 32px;


@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/montserrat-bold.woff') format('woff'),
    url('assets/fonts/montserrat-bold.ttf') format('truetype'),
    url('assets/fonts/montserrat-bold.svg') format('svg');
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/montserrat-regular.woff') format('woff'),
    url('assets/fonts/montserrat-regular.ttf') format('truetype'),
    url('assets/fonts/montserrat-regular.svg') format('svg');
  font-weight: $font-weight-regular;
  font-style: normal;
  font-display: swap;
}
