@use './_fonts' as *;
@use "sass:map";

$colors: (
  "dark-shade-100": rgba(31, 32, 65, 1),
  "dark-shade-75": rgba(31, 32, 65, 0.75),
  "dark-shade-50": rgba(31, 32, 65, 0.5),
  "dark-shade-25": rgba(31, 32, 65, 0.25),
  "dark-shade-5": rgba(31, 32, 65, 0.05),
  "purple": rgba(188, 156, 255, 1),
  "green": rgba(111, 207, 151, 1)
);

@function getColor($key) {
  @return map.get($colors, $key);
}

$fields: (
  "width-sm": 150px,
  "width-md": 266px,
  "width-lg": 320px,
  "height": 44px,
  "border-radius": 4px,
  "padding": 14px,
);

@function getFieldProp($key) {
  @return map.get($fields, $key);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-width: 320px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  text-align: left;
  margin: auto;
  color: getColor("dark-shade-100");
}
